<footer class="bg-primary pt-5 text-white">
<div class="container"> 
    <div class="row"> 
        <div class="col-xl-4 me-auto py-3"> <a href="#" class="d-inline-block fw-bold h2 link-light mb-4 text-decoration-none text-uppercase" target>Emergencias</a> 
            <p class="mb-3">Esta aplicación muestra información vital de las residencias de ancianos para los servicios de emergencias en situaciones críticas</p> 
            <div class="mb-4"> <a href="#" class="link-light text-decoration-none">112</a> <br/> <a href="#" class="link-light text-decoration-none">emergencias@app.com</a> 
            </div>                         
            <div class="d-inline-flex flex-wrap">                              <a href="#" class="link-light p-1" aria-label="twitter-link">  </a> <a href="#" class="link-light p-1" aria-label="instagram-link">  </a> <a href="#" class="link-light p-1" aria-label="linkedin-link">  </a> <a href="#" class="link-light p-1" aria-label="youtube-link">  </a> 
            </div>                         
        </div>                     
        <div class="col-sm-4 col-xl-2 py-3">                          
            <ul class="list-unstyled">                                                                                                                     
</ul>                         
        </div>                     
        <div class="col-sm-4 col-xl-2 py-3"> 
            <h2 class="fw-bold h5 mb-4 text-uppercase"></h2> 
            <ul class="list-unstyled"> 
                <li class="mb-3">Terminos y condiciones</li>                             
                <li class="mb-3"> <a href="#" class="link-light text-decoration-none"></a> 
                </li>                             
                <li class="mb-3">Política de Privacidad</li>                             
                <li class="mb-3"> <a href="#" class="link-light text-decoration-none">Aviso Legal</a> 
                </li>                             
                <li class="mb-3">
                    <div>Sobre Nosotros</div>
                </li>                             
            </ul>                         
        </div>                     
        <div class="col-sm-4 col-xl-2 py-3"> 
</div>                     
    </div>                 
    <div class="pb-3 pt-3 text-center"> 
        <hr class="border-light mt-0"/> 
        <p class="mb-0">Copyright &copy; 2022 Antonio Cabañas</p> 
    </div>                 
</div>        
</footer>  
